<ion-header class="ion-no-border">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>rncs</ion-title>

    <ion-avatar slot="end">
      <img src="./assets/profile.jpg" />
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <app-rnc [rncs]="rncs"></app-rnc>
  </ion-list>

</ion-content>
