<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title>Favorito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-template #noFavoritos>
    <div class="favorito__nolist">
      <ion-item lines="none">
        <ion-label class="ion-text-center">
          <h1><ion-icon slot="icon-only" name="reader-outline"></ion-icon></h1>
          <p>No hay favoritos</p>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>

  <ion-grid fixed *ngIf="favorites.length > 0; else noFavoritos">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let item of favorites">
            <ion-label>{{ item.nombreComercial }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
